@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: linear-gradient(to bottom, #A0CCDA, #FFD3E8);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    padding: 10px;
    background-attachment: fixed;
}
main{
    width: 92vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    color: rgb(254, 250, 243);
}
/*COMEÇO DIV ESQUERDA-----------------------------------------*/
main > div#esq{
    width: 300px;
    height: 750px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    background-color: #407c9fe8;
    box-shadow: 1px 1px 4px 2px#78747492;
    text-indent: 5px;
}
main > div#esq > p{
    text-align: justify;
    padding: 15px 0;
}
main > div#esq > h2{
    padding: 0 0 10px 0;
}
main > div#esq > p{
    font-size: 18px;
}
/*FIM DIV ESQUERDA--------------------------------------------*/

/*COMEÇO DIV DIREITA*/
main > div#dir{
    width: 300px;
    height: 750px;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 20px;
    background-color: #407c9fe8;
    box-shadow: 1px 1px 4px 2px#78747492;
}

main > div#divMain{
    width: 700px;
    height: 750px;
    border-radius: 15px;
    padding: 20px;
    background-color: #407c9fe8;
    box-shadow: 1px 1px 4px 3px#78747492;
    display: flex;
    flex-direction: column;
    align-items: center;
}
div#container{
    display: flex;
    flex-direction: column;
}
main > div#dir > h2{
    padding: 0 0 10px 0;
}
div#dir > div#dirHistorico{
    margin: auto;
    padding: 15px 0;
    overflow-y: hidden;
    text-align: justify;
    text-indent: 5px;
    line-height: 1.4em;
}
div#dirHistorico{
    font-size: 18px;
}
/*FIM DIV DIREITA*/
picture > img{
    display: block;
    margin: 20px auto 40px;
}
label{
    display: block;
    margin: 30px 0 40px;
}
input{
    display: block;
    margin:  0 auto 40px;
    width: 430px;
    height: 40px;
    border-radius: 30px;
    border: none;
    text-align: center;
}
button{
    margin: auto;
    border: none;
    border-radius: 10px;
    padding: 15px 35px;
    box-shadow: 1px 1px 10px 5px;
    font-size: 20px;
    font-weight: bold;
    color: #24648ae8;
}